@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
      }
      .theme-text {
  color: #c50f18

}
      body {
        background: #f2f2f2;
        position: relative;
      }
      body::before {
        content: '';
        position: absolute;
        width: 100%;
        clip-path: inset(57% 0 0 0);
        z-index: -1;
        height: 100%;
      }
      ::selection {
        background: rgb(153, 21, 26);
        color: #fff;
      }
      .container {
        padding:  0;
      }
      .main-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .card {
        background: #fff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease;
        margin: 20px;
        max-width: 400px;
      }
      .card:hover {
        transform: translateY(-15px);
      }
      .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #8d090d;
  margin: 0 auto;
  display: flex;
  margin-bottom: 15px;
  
}

.img img {
  max-width: 100%;
  max-height: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.img:hover {
  transform: scale(1.1); 
}

.img img:hover {
  transform: scale(1.1); 
}

      
      .name {
        font-size: 20px;
        font-weight: 500;
      }
      .job {
        font-size: 20px;
        color: #9b1217;
      }
      .media-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
      .media-icons a {
        text-align: center;
        line-height: 33px;
        height: 35px;
        width: 35px;
        margin: 0 4px;
        font-size: 14px;
        color: #FFF;
        border-radius: 50%;
        border: 2px solid transparent;
        background: #a14144;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .media-icons a:hover {
        color: #a1060b;
        background-color: #fff;
        border-color: #a1060b;
      }
